/* Reset / Normalize
=================================== */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(CSS\ Advanced/);
}





.flex-container{
    border: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.flex-items{
    border: none;
    height: 350px;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}